<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="{{ path('app_home') }}">
			Home
		</a>
		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarMenu" class="navbar-menu">
		{% if app.user %}
			<div id="navbarMenu" class="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" href="{{ path('app_event_index') }}">
						Mes événements
					</a>
				</div>
				<div class="navbar-end">
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">Profil</a>
						<div class="navbar-dropdown is-right">
							<a class="navbar-item" href="{{ path('app_profile_index', {id: app.user.id}) }}">Mon compte</a>
							<a class="navbar-item" href="{{ path('app_logout') }}">Déconnexion</a>
						</div>
					</div>
				</div>
			{% else %}
				<div class="navbar-end">
					<div class="buttons">
						<a class="button is-primary" href="{{ path('app_register') }}">
							<strong>Inscription</strong>
						</a>
						<a class="button is-light" href="{{ path('app_login') }}">Connexion</a>
					</div>
				</div>
			{% endif %}
		</div>
	</nav>
